*/.gradle/
.gradle/

/out/

*.class
*.war
*.ear

app.log*

hs_err_pid*

*/build/
/server/build/
/server/render/
/static-page/build/
/static-page/papka/
/classes/
/static-page/bower_components/
/static-page/node_modules/

.env