upstream java-api {
    server papka24.in.ua:7777;
}

upstream scylla{
    server 127.0.0.1:9042;
}

upstream java-uploader {
    server papka24.in.ua:8888;
}

upstream java-ws {
    server papka24.in.ua:9999;
}


server {
    server_name papka24.in.ua www.papka24.in.ua;
    listen 80;
    return 301 https://papka24.in.ua$request_uri;
}

server {
    server_name m.papka24.in.ua; 
    listen 80;
    return 301 https://m.papka24.in.ua$request_uri;
}

server {
    listen 9043;
    server_name papka24.in.ua;

    location / {
        port_in_redirect off;
        proxy_bind $host:9043;
        proxy_pass      http://localhost:9042;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_read_timeout 360s;
    }
}


server {

    listen 443 ssl;
    server_name papka24.in.ua;
    resolver 127.0.0.1;
    ssl_stapling on;
    ssl on;
    #ssl_certificate /root/ssl.crt;
    #ssl_certificate_key /root/ssl.key;
    ssl_certificate /etc/letsencrypt/live/papka24.in.ua/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/papka24.in.ua/privkey.pem;
    #ssl_trusted_certificate /root/ssl.crt;
    ssl_dhparam /etc/nginx/dhparam.pem;
    ssl_session_timeout 24h;
    ssl_session_cache shared:SSL:2m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers kEECDH+AES128:kEECDH:kEDH:-3DES:kRSA+AES128:kEDH+3DES:DES-CBC3-SHA:!RC4:!aNULL:!eNULL:!MD5:!EXPORT:!LOW:!SEED:!CAMELLIA:!IDEA:!PSK:!SRP:!SSLv2;
    ssl_prefer_server_ciphers on;
    add_header Strict-Transport-Security "max-age=31536000;";
    add_header X-Frame-Options SAMEORIGIN;    
    add_header Content-Security-Policy-Report-Only "default-src https: wss://papka24.in.ua; script-src https: 'unsafe-eval' 'unsafe-inline' 'self' blob:; style-src https: 'unsafe-inline'; img-src https: data: 'self' blob: filesystem:; font-src https: data: 'self'; report-uri /api/csp";

    error_page 404 = /index.html;

    location = /index.html {
        root   /var/www/papka;
        #expires epoch;
    }

    location / {
        root   /var/www/papka/;
        index  index.html index.htm;
    }

    location /pdf {
        expires max;
        root   /var/www/papka/;
    }

    location /font{
        expires max;
        root   /var/www/papka/;
    }

    location /cdn/ {
        expires max; 
        root   /var/www/;
    }

    location /cdn/avatars/ {
        expires 1m;
        root   /var/www/;
    }

    location /api/ {
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        limit_req zone=one burst=5;
        proxy_pass      http://java-api;
        expires    off;
        add_header Pragma "no-cache";
        add_header Cache-Control "no-cache, no-store";
    }

    location /upload {
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        limit_req zone=one burst=5;
        proxy_pass       http://java-uploader;
        proxy_request_buffering off;
        client_max_body_size 2m;
    }

    location /wss {
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_pass      http://java-ws; 
        proxy_read_timeout 360s;
    }

    location /scylla {
        proxy_pass      http://scylla;
        proxy_read_timeout 360s;
    }

}


server {

    listen 443 ssl;
    server_name m.papka24.in.ua;
    resolver 127.0.0.1;
    ssl_stapling on;
    ssl on;
    ssl_certificate /etc/letsencrypt/live/m.papka24.in.ua/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/m.papka24.in.ua/privkey.pem;
    ssl_dhparam /etc/nginx/dhparam.pem;
    ssl_session_timeout 24h;
    ssl_session_cache shared:SSL:2m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers kEECDH+AES128:kEECDH:kEDH:-3DES:kRSA+AES128:kEDH+3DES:DES-CBC3-SHA:!RC4:!aNULL:!eNULL:!MD5:!EXPORT:!LOW:!SEED:!CAMELLIA:!IDEA:!PSK:!SRP:!SSLv2;
    ssl_prefer_server_ciphers on;
    add_header Strict-Transport-Security "max-age=31536000;";
    add_header X-Frame-Options SAMEORIGIN;    
    add_header Content-Security-Policy-Report-Only "default-src https: wss://papka24.in.ua; script-src https: 'unsafe-eval' 'unsafe-inline' 'self' blob:; style-src https: 'unsafe-inline'; img-src https: data: 'self' blob: filesystem:; font-src https: data: 'self'; report-uri /api/csp";

    error_page 404 = /index.html;

    location = /index.html {
        root   /var/www/papka-m;
        #expires epoch;
    }

    location / {
        root   /var/www/papka-m/;
        index  index.html index.htm;
    }

    location /pdf {
        expires max;
        root   /var/www/papka-m/;
    }

    location /font{
        expires max;
        root   /var/www/papka-m/;
    }

    location /cdn/ {
        expires max; 
        root   /var/www/;
    }

    location /cdn/avatars/ {
        expires 1m;
        root   /var/www/;
    }

    location /api/ {
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        limit_req zone=one burst=5;
        proxy_set_header Host papka24.in.ua;
        proxy_pass      http://java-api;
        expires    off;
        add_header Pragma "no-cache";
        add_header Cache-Control "no-cache, no-store";
    }

    location /upload {
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        limit_req zone=one burst=5;
        proxy_set_header Host papka24.in.ua;
        proxy_pass       http://java-uploader;
        proxy_request_buffering off;
        client_max_body_size 2m;
    }

    location /wss {
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_set_header Host $server_name ;
        proxy_pass      http://java-ws; 
        proxy_read_timeout 360s;
    }

    location /scylla {
        proxy_pass      http://scylla;
        proxy_read_timeout 360s;
    }
}


