/*
 * Copyright (c) 2017. iDoc LLC
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     (1) Redistributions of source code must retain the above copyright
 *     notice, this list of conditions and the following disclaimer.
 *
 *     (2) Redistributions in binary form must reproduce the above copyright
 *     notice, this list of conditions and the following disclaimer in
 *     the documentation and/or other materials provided with the
 *     distribution.
 *
 *     (3)The name of the author may not be used to
 *     endorse or promote products derived from this software without
 *     specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
 * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
 * INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
 * STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
 * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */

@import colors

/*
 * DataPicker
 */
.calendar
  border 1px solid alt1GrayColor
  border-radius 2px
  padding 0
  width 200px
  background white
  font-size 12px
  font-weight 100
  div,span
    user-select none
  .no-click
    background transparent !important
    span
      cursor default
      color #bbb !important
      background transparent !important
  .months
    background-color mainGrayColor
    color darkGrayColor
    padding 3px
    text-align center
  .prev-month, .next-month, .next-year, .prev-year
    padding 0 2px !important
    font-size 20px
    line-height 28px
  .prev-month
  .prev-year
    float left
  .next-month
  .next-year
    float right
  .current-month
    margin 0 auto
  .months .prev-month,.months .next-month,.months .prev-year,.months .next-year, .current-month
    color darkGrayColor
    text-decoration none
    padding 0 4px
    border-radius 2px
    cursor pointer
  .months .prev-month:hover,.months .next-month:hover, .months .prev-year:hover,.months .next-year:hover
    background-color alt1GrayColor
    color black
  table
    border-collapse collapse
    padding 0
    width 100%
  th
    font-weight normal
    text-align center
  td
    text-align right
    padding 1px
    width 14.3%
    span
      display block
      color darkGrayColor
      text-decoration none
      padding 3px
      cursor pointer
      text-align center
      &:hover
        color black
        background-color alt1GrayColor
    &.today span
      border 1px solid greenColor
      border-radius 3px
    .clear
      padding 3px 0

