/*
 * Copyright (c) 2017. iDoc LLC
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are
 * met:
 *
 *     (1) Redistributions of source code must retain the above copyright
 *     notice, this list of conditions and the following disclaimer.
 *
 *     (2) Redistributions in binary form must reproduce the above copyright
 *     notice, this list of conditions and the following disclaimer in
 *     the documentation and/or other materials provided with the
 *     distribution.
 *
 *     (3)The name of the author may not be used to
 *     endorse or promote products derived from this software without
 *     specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
 * IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
 * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 * DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
 * INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
 * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 * SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
 * HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
 * STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
 * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */

@import 'nib'
@import 'colors'

#CryptoPluginBlock
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  width 0
  height 100%
  z-index 1
  background-color rgba(0, 0, 0, 0)
  .key
    font-size 12px
    margin-top 10px
    background white
    width 100%
    &.stamp
      border 1px dashed grey;
    &.expired .keyExpInfo
      color red-500
  .keyInfo
    color blackColor
  .keyExpInfo
    color greenColor
  transition(background, 0.5s, ease-in)
  cursor pointer
  .closeButton
    position: absolute;
    right: 0;
    top: 0;
  &.active
    background-color rgba(0, 22, 0, 0.2)
    width 100%
    .CryptoPluginSubBlock
      display block
  .CryptoPluginSubBlock
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
    position fixed
    border-radius 2px
    display none
    top 0
    right 0
    bottom 0
    left 0
    height 200px
    width 600px
    margin auto
    padding 10px
    text-align center
    background-color white
    border 1px solid #eee
    .legend
      font-size 16px
      font-weight 100
    .preWarn
      color #b71c1c
    .warning
      color orangered
      font-size 22px
    .loader
      background-image url("../img/spinner.gif")
      margin 100px

#CryptoPluginInstance
  position absolute